.main{
    padding-left: 30px;
    padding-right: 30px;
}
.container{
    display: flex;
    gap: 300px;
}
.logo{
    height: 40px;
    width: 220px;
    padding-top: 20px;
    flex: 1;
}
span{
    color: darkblue;
    font-size: 70px;
}
h1{
    font-size: 70px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.tile-image{
    height: 170px;
    width: 270px;
}
.leftcard{
    display:flex;
    max-width: 700px;
}
.rightcard{
    display: flex;
    max-width: 700px;
}
.card-title{
    display: block; 
    margin: 20px 0px 20px 20px;
}
.card-text{
    display: block; 
    margin: 0px 0px 20px 20px;
}
footer{
    clear: both;
    text-align: right;
    color: darkblue;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center; 
        gap: 20px;
    }
    
    .leftcard,
    .rightcard {
        width: 100%;
        max-width: 500px; 
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }
    
    .tile-image {
        width: 70%; 
    }
    .card-content {
        max-width: 90%;
        margin-top: 20px;
    }

    .card-title,
    .card-text {
        margin: 10px ; 
        text-align: center; 
    }
    h1,span{
        font-size: 60px ;
    }
}
@media (max-width: 480px) {
    .leftcard,
    .rightcard {
        flex-direction: column; 
        align-items: center;
    }
    .card-title,
    .card-text {
        margin: 10px 0; 
        text-align: center;
    }
    .tile-image {
        margin-bottom: 10px;
    }
    h1,span{
        font-size: 50px;
    }
}